{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<div class="col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'Menu:MFAUserSettings'|dict_s }}</h3>
		</div>
		<div class="panel-body">
			<div class="form_alerts">
				<div class="alert alert-success" role="alert" style="display: none;"></div>
				<div class="alert alert-warning" role="alert" style="display: none;"></div>
				<div class="alert alert-error alert-danger" role="alert" style="display: none;"></div>
			</div>

			{{ sCodes }}
		</div>
	</div>
</div>


